nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  padding: 1.5em;
  width: 100%;
  background-color: #f0b111;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  height: 120px;
  position: fixed;
  
}

.write-tweet {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: 'Source Sans 3', sans-serif; /* Set font-family for <span> within <nav> */
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.write-tweet i {
  animation: bounce 1s infinite;
  color: #e74427;
}


