#tweet-text {
 display: flex;
 border: 0;
 border-bottom: 3px solid #45474B;
 background: transparent;
 background-color: #f4f1ec;
 width: 800px;
 height: auto;
 padding: 0;
 margin-top: 0.5em;
 resize: none;
 outline: 0;
 word-wrap: break-word;
 background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

.new-tweet {
 display: flex;
  border: 0;
  outline: 0;
  resize: none;
  height: auto;
  font-weight: bolder;
}

.tweet-btn {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
  border: none;
}

.under-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.all-tweets {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}

.tweet-article {
  border: 3px solid #45474B;
  margin-top: 0.5em;
}

.upper-row{
display: flex;
justify-content: space-between;
}

.user-handle {
  margin: 1.5em;
  color: rgb(104, 173, 196);
}

.tweet-header {
  display: flex;
  flex-direction: row;
  margin: 1em;
  background-color: #f4f1ec;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

.tweet-header i {
  line-height: 1.5em;
}

.tweet-content {
  margin: 0 0.5em;
  word-wrap: break-word;
  display: flex;
  border: 0;
  border-bottom: 3px solid #45474B;
  background: transparent;
  background-color: #f4f1ec;
  width: 800px;
  height: auto;
  padding: 0;
  margin-top: 0.5em;
  resize: none;
  outline: 0;
  word-wrap: break-word;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

.text-content{
  word-wrap: break-word;
  width: 100%;
}

.tweet-footer {
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1em;
}

i {
  color: #4056A1;
  line-height: 1.5em;
  padding-right: 0.3em;
}


.tweet-footer div {
  margin-top: 1.5em;
}

i:hover {
  color: #f5c959;
}

.tweet-btn:hover {
  cursor: pointer;
  transition: 0.4s ease;
  color: rgb(140, 140, 161);
}  

.tweet-article:hover {
  box-shadow: 5px 5px 10px rgba(13, 13, 13, 0.3);
}  

